.phone-input {
    position: relative;
}

.phone-input__phone-input {
    display: flex;
    width: 100%;
}

.phone-input__input {
    width: 100%;
}

.phone-input__country__flag button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-input__country__flag button span:first-child {
    margin-right: 0.5rem;
}

.phone-input__country-search {
    position: absolute;
    z-index: 99;
    top: 72px;
    left: 0;
    width: 100%;
}

.phone-input__country-search__input {
    display: flex;
}

.phone-input__country-search__list {
    max-height: 374px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    background: white;
}

.phone-input__country-search__list__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 5px;
    font-size: 24px;
    margin-left: 14px;
    color: #333;
}
